<h1>Add word: <%= @word.add_word %></h1>

<form action="/words" method="post">
  <input id="words" name="words" type="hidden" value="<%= @word.id() %>">

  <label for='definition'>Definition</label>
  <input id="definition" name="definition" type="text">

  <button type="submit" class="btn btn-success">Add</button>
</form>

<h4>Definition for: <%= @word.word %></h4>

<ul>
  <% @word.definitions.each() do |definition| %>
  <li><%= each_definition.add_definition%></li>
    <% end %>
</ul>


<!-- <li><a href="/definitions/<%= add_definition.id() %>"><%= car.make() %> <%= car.model() %> <%= car.year() %></a></li> -->
